* { background-color: rgb(255, 231, 94)  }

#label { 
    color: red;
}

#add_tale {
    border-radius:20px;
    background-color: white;
    color: green;
    font-size: 25px;
    text-align: center
}

#reload_table {
    border-radius:20px;
    background-color: white;
    color: green;
    font-size: 25px;
}

#find_character {
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
}

#more_info {
    background-color: white;
    border-radius: 6px;
}

#lineEdit {
    background-color: white;
}

#find_tale {
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
}

QTableWidgetItem {
    background-color:rgb(255, 231, 94);
}

#author {
    color: rgb(10, 9, 9);
    font-style: italic;
}
#title {
    font-size: 25px;
    color: red;
}

#text_description {
    font-size: 12px;
    border: 0px;
    padding: 0;
    
}

#characters {
    font-size: 12px;
}

